<script>if (window!=top) {top.location.replace(document.location);}</script>
<p>Your subscription has been cancelled. <a href="{{ path('u__show', { 'id': entity.id }) }}" target="_top">Try again? &raquo;</a></p>